<template>
  <div class="adm_container">
    <form class="adm_form">
      <div class="header-form">
        <h5 style="font-weight: bold;">POLYCLINIC</h5>
      </div>
      <div class="p-float-label ">
        <InputText id="username"  type="text" v-model="admin.login" />
        <label for="username">Логин</label>
      </div>
      <div class="p-float-label">
        <InputText autocomplete="false" id="password" type="password" v-model="admin.password" />
        <label for="password">Пароль</label>
      </div>
      <div class="container-btn">
        <Button @click="authAdmin" label="Войти" class="p-button-primary" iconPos="right" />
      </div>
    </form>
    <Toast />

  </div>
</template>

<script>
import InputText from 'primevue/inputtext';
import Toast from 'primevue/toast';

import Button from 'primevue/button';
import axios from "axios";
import {mapGetters, mapMutations} from 'vuex'




export default {

  data() {
    return {
      admin: {
        login: null,
        password: null,
      }
    }
  },
  components: {
    InputText,
    Button,
    Toast
  },
  computed: {
    ...mapGetters(['API_URL']),
  },
  methods: {
    ...mapMutations(['RECORD_TOKEN']),
    resetDataForm() {
      Object.keys(this.admin).forEach((key) => {
        this.admin[key] = null;
      });
    },
    authAdmin() {
      axios.post(`${this.API_URL}/auth`, {
        "user_name": this.admin.login,
        "password": this.admin.password
      }).then((res) => {
        if (res.status === 200) {
          if (res.data.error_code === 5) {
            this.$toast.add({severity:'error', summary: 'Неверный логин или пароль', detail: 'Невозможно авторизироваться' , life: 3000});
          }
          else if (res.data.error_code === 4) {
            this.$toast.add({severity:'error', summary: 'Неверный логин или пароль', detail: 'Невозможно авторизироваться' , life: 3000});
          }
          else if(res.data.access_token) {
            this.RECORD_TOKEN(res.data);
            this.resetDataForm();
            this.$router.push('/project_name/settings');
          }
        }
      }).catch((err) => {
        this.$toast.add({severity:'error', summary: 'Ошибка! Попробуйте позже', detail: 'Невозможно авторизироваться' , life: 3000});
      })
    }
  }
}
</script>

<style scoped>

input#username, input#password {
  width: 335px;
}

.p-button {
  width: 130px;
}

.p-float-label {
  margin-bottom: 30px;
}

.adm_container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f8f8;
}

.container-btn {
  text-align: right;
}

.adm_form {
  height: 160px;
}

.header-form h5{
  font-size: 20px;
}

.header-form {
  margin-bottom: 50px;
}

</style>
