<template>
  <div class="adm-menu_container">
    <div class="left-panel" >
      <div class="left-panel__header">
        <h4 style="font-weight: bold;">POLYCLINIC</h4>
      </div>
      <el-menu :router="true" class="el-menu-vertical-demo" active-text-color="#white">
        <el-menu-item  index="/project_name/settings">Личный Кабинет</el-menu-item>
        <el-menu-item  index="/project_name/directions">Мои направления</el-menu-item>
        <el-menu-item  index="/project_name/analyzes">Мои анализы</el-menu-item>
        <!-- <el-menu-item index="/project_name/statistics">Статистика</el-menu-item> -->
      </el-menu>
      <hr>
    </div>
    <Toast />

    <!-- DO NOT DELETE! NOT WORKS WITHOUT IT -->
    <div class="right-container" >
      <router-view/>
    </div>
    <!--  -->

  </div>
</template>

<script>

import AdminStatistics from "./AdminStatistics";
import Toast from 'primevue/toast';
import Toolbar from 'primevue/toolbar';
import InputText from 'primevue/inputtext';
import InputNumber from 'primevue/inputnumber';
import Button from 'primevue/button';
import Dropdown from 'primevue/dropdown';
import Dialog from 'primevue/dialog';



import axios from "axios";
import {mapGetters, mapMutations} from "vuex";

export default {
  created() {
    // this.getContentCases();
  },
  data() {
    return {
      typePage: 'USERS',
      loadingTable: false,
    }
  },
  components: {
    Toast,
    Toolbar,
    InputText,
    Button,
    InputNumber,
    Dropdown,
    Dialog,
    AdminStatistics,
  },
  computed: {
    ...mapGetters(['API_URL', 'TOKEN']),
  },
  methods: {
    ...mapMutations(['EXIT_ADMIN']),
    showMessageError() {
      this.$toast.add({severity:'error', summary: 'Ошибка!', detail: 'Попробуйте позже', life: 3000});
    },
    resetDataForm(data) {
      Object.keys(data).forEach((key) => {
        data[key] = null;
      });
    },
  }
}
</script>

<style scoped>
.adm-menu_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
}
.right-container {
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
}

.btn-create {
  border: none;
  outline: none;
  padding: 8px 10px 8px 10px;
  border-radius: 15px;
  background: #e1e1e1;
  transition: 0.14s all ease-in-out;

}

.btn-create:hover {
  transition: 0.14s all ease-in-out;
  background: #cecece;
  cursor: pointer;
}

.head__fire__bunts {
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
}
.box_change-inp {
  display: flex;
  text-align: left;
  flex-direction: column;
  margin-bottom: 20px;
}

.box_change-inp div {
  margin-bottom: 5px;
}

.left-panel {
  width: 260px;
  min-width: 260px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.25);
  z-index: 111;
  height: 100vh;
}

.left-panel__header {
  margin: 0 auto;
  height: 50px;
  padding: 15px;
  border-right: 1px solid #e6e6e6;

}
.el-menu {
  text-align: left;
  font-family: 'Avenir', Helvetica, Arial, sans-serif !important;
}

</style>
