<template>
  <div class="container">
    <h3 class="title__section" >Общая статистика</h3>
    <Dropdown
      @change="getStatistics(selectedTime)"
      v-model="selectedTime"
      :options="periods"
      optionValue="value"
      optionLabel="label"
      placeholder="Выберите время"
    />
    <section class="cards_statistics">
      <div class="left">

        <el-card v-loading="loading"  style="width: 300px; margin-bottom: 20px" class="box-card">
          <div slot="header" class="clearfix">
            <span>Сумма средств, выведенных пользователями</span>
          </div>
          <div  class="text item">
            <span>{{ statistics.approved_payouts_total_amount }} руб.</span>
          </div>
        </el-card>

        <el-card v-loading="loading"  style="width: 300px; margin-bottom: 20px" class="box-card">
          <div slot="header" class="clearfix">
            <span>Общая сумма, заработанных пользователями при продаже кейсов</span>
          </div>
          <div  class="text item">
            <span>{{ statistics.users_earn_total }} руб.</span>
          </div>
        </el-card>

        <el-card v-loading="loading"  style="width: 300px; margin-bottom: 20px" class="box-card">
          <div slot="header" class="clearfix">
            <span>Открыто кейсов</span>
          </div>
          <div  class="text item">
            <span>{{ statistics.cases_open_total }} шт.</span>
          </div>
        </el-card>
        <el-card v-loading="loading"  style="width: 300px; margin-bottom: 20px" class="box-card">
          <div slot="header" class="clearfix">
            <span>Кол-во депозитов</span>
          </div>
          <div  class="text item">
            <span>{{ statistics.donates_number }} шт.</span>
          </div>
        </el-card>

        <el-card v-loading="loading"  style="width: 300px; margin-bottom: 20px" class="box-card">
          <div slot="header" class="clearfix">
            <span>Общая сумма депозитов</span>
          </div>
          <div  class="text item">
            <span>{{ statistics.total_donates_amount }} руб.</span>
          </div>
        </el-card>

        <el-card v-loading="loading"  style="width: 300px; margin-bottom: 20px" class="box-card">
          <div slot="header" class="clearfix">
            <span>Кол-во одобренных заявок</span>
          </div>
          <div  class="text item">
            <span>{{ statistics.approved_payouts_number }} шт.</span>
          </div>
        </el-card>

        <el-card v-loading="loading"  style="width: 615px; margin-bottom: 20px" class="box-card">
          <div slot="header" class="clearfix">
            <span>Общая прибыль</span>
          </div>
          <div  class="text item">
            <span>{{ statistics.total_admins_profit }} руб.</span>
          </div>
        </el-card>

      </div>
      <div class="right">
        <el-card  style="width: 300px; margin-bottom: 20px" class="box-card">
          <div slot="header" class="clearfix">
            <span>Онлайн игроков</span>
          </div>
          <div  class="text item">
            <span>{{ statistics.users_online }}</span>
          </div>
        </el-card>

        <el-card  style="width: 300px; margin-bottom: 20px" class="box-card">
          <div slot="header" class="clearfix">
            <span>Всего игроков</span>
          </div>
          <div  class="text item">
            <span>{{ statistics.total_users_number }}</span>
          </div>
        </el-card>

      </div>
    </section>
  </div>
</template>

<script>
import Card from 'primevue/card';
import Toast from 'primevue/toast';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import ColumnGroup from 'primevue/columngroup';
import InputText from 'primevue/inputtext';
import DataView from 'primevue/dataview';
import Button from 'primevue/button';
import Dropdown from 'primevue/dropdown';


import {mapGetters, mapMutations} from "vuex";
import axios from "axios";

export default {
  components: {
    Card,
    Toast,
    DataTable,
    Column,
    ColumnGroup,
    InputText,
    Button,
    DataView,
    Dropdown
  },
  created() {
    this.selectedTime = this.periods[5].value
    this.getStatistics();
  },
  data() {
    return {
      statistics: [],
      withdraws: [],
      periods: [
        {
          label: "Час",
          value: "hour"
        },
        {
          label: "День",
          value: "day"
        },
        {
          label: "7 дней",
          value: "7days"
        },
        {
          label: "Месяц",
          value: "30days"
        },
        {
          label: "Год",
          value: "365days"
        },
        {
          label: "За все время",
          value: "all"
        },
      ],
      selectedTime: null,
      loading: false,
    }
  },
  computed: {
    ...mapGetters(['API_URL', 'TOKEN']),
  },
  methods: {
    formatterAmount(row) {
      return row.amount + '₽'
    },
    formatterBalance(row) {
      return row.user.pay_out_balance + '₽'
    },
    formatterBalanceBuy(row) {
      return row.user.donate_balance + 'G'
    },
    ...mapMutations(['EXIT_ADMIN']),
    getStatistics(time) {
      this.loading = true;
      let config = {
        headers: {'Authorization': "Bearer " + this.TOKEN }
      }
      axios.post(`${this.API_URL}/admin/api.get.statistics`, {
        "time_period": this.selectedTime
      }, config).then((res) => {
        if (res.status === 200 && res.data.status === 'ok') {
          this.statistics = res.data;
          console.log('statistics', this.statistics)
        }
      }).catch((err) => {
        if (err.response.status === 401) {
          this.EXIT_ADMIN(null);
          this.$router.push('/');
        }
        else {
          this.$toast.add({severity:'error', summary: 'Ошибка! Попробуйте позже', detail: 'Невозможно получить статистику' , life: 1000});
        }
      }).finally(() => {
        this.loading = false;
      })
    },
  }
}
</script>

<style scoped>
  .container {
    margin: 50px 15px 50px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .cards_statistics {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 50px;

  }
  .clearfix span {
    font-size: 15px;
    text-align: left;
    font-weight: bold;
    color: #3a8eff;

  }
  .left {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-column-gap: 15px;
    margin-right: 15px;
  }
  .el-card.box-card.is-always-shadow:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
  }
  .title__card {
    font-size: 16px;
    font-weight: 700;
    color: #3a8eff;
    margin-bottom: 10px;
    text-align: left;
  }
  .content__card {
    font-size: 24px;
  }

  .title__section {
    margin-bottom: 30px;
  }
  .card-info {
    background: #fff;
    width: 24vw;
    height: initial;
    margin-bottom: 20px;
    min-height: 180px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px 30px 10px 30px;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 12%);
    border-radius: 7px;
    margin-right: 20px;
  }
  .p-dropdown {
    width: 160px !important;
    text-align: left !important;
    margin-bottom: 20px;
  }
  .withdraws {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
</style>
