<template>
  <div>
    <el-table
      v-loading="loading"
      :data="list_items"
      :filter-change="search"
      style="width: 100%"
      v-on:click="test_asd()"
    >
      <el-table-column
        label="Направление"
        prop="direction_name">
      </el-table-column>
      <el-table-column
        label="Выдано"
        prop="date_of_issue">
      </el-table-column>
      <el-table-column
        label="Действительно до"
        prop="expiration_date">
      </el-table-column>
      <el-table-column
        label="ФИО Врача"
        prop="doctor_name">
      </el-table-column>

      <el-table-column
        align="right">
        <template slot="header">
          <input
            style="width: 150px"
            size="mini"
            v-model="search"
            placeholder="Поиск"
          />
        </template>
        <!-- <template>
          <el-button v-on:click="test_asd()" type="primary">
            Подробнее
          </el-button>
        </template> -->
      </el-table-column>
    </el-table>
    <div style="margin: 20px 0 20px 0">
      <el-pagination
        @current-change="setPage"
        background
        layout="prev, pager, next"
        :total="total_items_number">
      </el-pagination>
    </div>
  </div>
</template>

<script>
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import ColumnGroup from 'primevue/columngroup';
import InputText from 'primevue/inputtext';
import Button from 'primevue/button';
import Dropdown from 'primevue/dropdown';


import {mapGetters, mapMutations} from "vuex";
import axios from "axios";


export default {
  data() {
    return {
      list_items: [],
      search: '',
      total_items_number: 0,
      filters: {},
      loading: false,
      active_direction: {
        direction_name: "",
        date_of_issue: "",
        expiration_date: "",
        doctor_name: ""
      },
      page: 0,
    }
  },
  created() {
    this.getAllItems();
  },
  components: {
    DataTable,
    Column,
    ColumnGroup,
    InputText,
    Button,
    Dropdown
  },
  computed: {
    ...mapGetters(['API_URL', 'TOKEN']),
  },
  watch: {
    search(newVal) {
      this.searchItemsInAll(newVal);
    },
  },
  methods: {
    ...mapMutations(['EXIT_ADMIN']),
    setPage(step) {
      this.page = step;
      this.getAllItems();
    },
    test_asd() {
      console.log("asdasdasdasdasdasd test asdasdasdasdasdasdasd");
    },
    handle_data(res) {
      if (res.status === 200 && res.data.status === 'ok') {
        // console.log('list_items', res);
        let a = res.data.info.rows;
        this.list_items = [];
        for (let row_id in a) {
          // console.log(row_id, a[row_id].date_of_issue);
          this.list_items.push({
            date_of_issue: a[row_id].date_of_issue,
            expiration_date: a[row_id].expiration_date,
            direction_name: a[row_id].direction.type,
            direction_uuid: a[row_id].direction.uuid,
            doctor_name: a[row_id].doctor.secondname + " " 
                          + a[row_id].doctor.firstname + " "
                          + a[row_id].doctor.thirdname,
            doctor_uuid: a[row_id].doctor.uuid
          });
        }
        // console.log(this.list_items);
        this.total_items_number = res.data.info.max_pages;
        // console.log(this.list_items, this.total_items_number);

      } else {
        this.$toast.add({severity:'error', summary: 'Ошибка! Попробуйте позже', detail: 'Невозможно получить список направлений' , life: 3000});
      }
    },
    handle_error(err) {
      if (err.response === undefined) {
        this.$toast.add({severity:'error', summary: 'Ошибка! Попробуйте позже', detail: 'сервер недоступен' , life: 3000});
        return;
      }
      if (err.response.status === 401) {
        this.EXIT_ADMIN(null);
        this.$router.push('/');
      }
      else {
        this.$toast.add({severity:'error', summary: 'Ошибка! Попробуйте позже', detail: 'Невозможно получить список направлений' , life: 3000});
      }
    },
    searchItemsInAll(query) {
      this.page = 1;
      this.loading = true;
      let config = {
        headers: {'Authorization': "Bearer " + this.TOKEN }
      }
      axios.post(`${this.API_URL}/private/api.user.get_directions`, {
        "page": 0,
        "search": query,
        "order_by": "date_of_issue"
      }, config).then((res) => {
        this.page = 0;
        this.handle_data(res);
      }).catch((err) => {
        this.handle_error(err);
      }).finally(() => {
        this.loading = false;
      })
    },
    getAllItems() {
      this.loading = true;
      let config = {
        headers: {'Authorization': "Bearer " + this.TOKEN }
      }
      axios.post(`${this.API_URL}/private/api.user.get_directions`, {
        "page": this.page,
        "order_by": "date_of_issue"
       }, config
      ).then((res) => {
        this.handle_data(res);
      }).catch((err) => {
        this.handle_error(err);
      }).finally(() => {
        this.loading = false;
      })
    }
  }
}
</script>

<style scoped>

</style>
