<template>
  <div id="settings">
    <h3 class="title__section" >Личный кабинет</h3>
    <section class="box-settings">

        <div v-for="block in blocks" :key="block.id" style="width: 47%">
          <el-card v-loading="loading" style="width: 100%; margin-bottom: 20px" class="box-card">
            <div slot="header" class="clearfix">
              <span>{{ block.title }}</span>
              <el-button
                size="center"
                type="primary"
                icon="el-icon-edit"
                @click="openSettingDialog(block)"
                circle
              ></el-button>
            </div>
            <div v-for="row in block.values" :key="row.id">
              <div  class="item">
                <div  v-for="(key, val) in row" :key="key.id" style="display:inline-block;width:90%">
                  <div style="display:inline-block;font-weight: bold;width:15%;text-align:right;margin-right:20px">
                    {{ val }}:
                  </div>
                  <div style="display:inline-block;min-width:35%;max-width:70%;border-bottom:1px solid #303133">
                    {{ settings[key] }}
                  </div>
                </div>
              </div>
            </div>
          </el-card>
        </div>

        <div style="width: 100%">
          <el-card v-loading="loading" style="width: 100%; margin-bottom: 20px" class="box-card">
            <div slot="header" class="clearfix">
              <span>Моя поликлиника</span>
            </div>

            <div style="border-right: 1px solid #303133;width: 50%;display: inline-block;vertical-align: middle">
              <div class="item" style="margin-right: 2%;">
                <div v-for="key in polyclinic_fields.left" :key="key.id">
                  <div v-for="(sdf, val) in key" :key="sdf.id" style="margin: 0px 10px">
                    <div style="display:inline-block;width:30%;text-align:right;margin-right:20px;font-weight: bold;font-size: 18px;">
                      {{ val }}: 
                    </div>
                    <div style="display:inline-block;min-width:35%;max-width:70%;border-bottom:1px solid #303133">
                        {{ polyclinic_info[sdf] }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div style="width: 45%;display: inline-block;vertical-align: middle;">
              <div class="item" 
                style="margin-left: 6%;"
              >
                <div v-for="key in polyclinic_fields.right" :key="key.id">
                  <div v-for="(sdf, val) in key" :key="sdf.id" style="margin: 0px 20px">
                    <div style="display:inline-block;width:30%;text-align:right;margin-right:20px;font-weight: bold;font-size: 18px;">
                      {{ val }}: 
                    </div>
                    <div style="display:inline-block;min-width:35%;max-width:70%;border-bottom:1px solid #303133">
                        {{ polyclinic_info[sdf] }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </el-card>
        </div>
    </section>

    <Dialog 
      :modal="true" 
      v-for="block in blocks" :key="block.id"
      :visible.sync="block.active"
    >
      <template #header>
        <h3 style="margin-right: 15px">"{{ block.title }}" -- редактировать<span style="color: #0288d1;"></span></h3>
      </template>
      <span class="p-float-label">
        <div v-for="row in block.values" :key="row.id" :style="'max-width: ' + 320 * Object.keys(row).length +'px'">
          <div v-for="(sdf, val) in row" :key="sdf.id" style="display: inline-block; margin: 0px 10px">
            <div style="text-align: left; font-size: 18px; font-weight: bold; margin-bottom: 10px"> {{ val }}: </div>
            <form>
              <div class="box_change-inp" style="width: 300px">
                <InputText type="text" v-model="changeParams[sdf]" />
              </div>
            </form>
          </div>
        </div>
      </span>
      <template #footer>
        <Button
          class="p-button-success" @click="updateSettingProxy(block)"
          label="Изменить"
          icon="pi pi-check"
          autofocus />
      </template>
    </Dialog>

    <Toast></Toast>

  </div>

</template>

<script>
import axios from "axios";
import {mapGetters, mapMutations} from "vuex";
import InputText from 'primevue/inputtext';
import Dialog from 'primevue/dialog';
import Toast from 'primevue/toast';
import Button from 'primevue/button';


export default {
  components: {
    InputText,
    Dialog,
    Toast,
    Button
  },
  data: () => {
    return {
      settings: {},
      loading: true,
      changeParams: {},
      type_change: '',
      polyclinic_info: {},
      polyclinic_fields: {
        left: [
          {"Номер поликлиники": "number"},
          {"тип поликлиники": "type"},  // is_adult
          {"контактный телефон регистратуры": "phone_number"},
          {"оффициальный сайт": "site_url"},
        ],
        right: [
          {"дни работы": "days"},
          {"Начало работы": "start_wokring_time"},
          {"Окончание работы": "end_working_time"},
        ]
      },
      blocks: [
        {
          title: "Личная информация",
          active: false,
          values: [
            {"Фамилия": "secondname"},
            {"Имя": "firstname"},
            {"Отчество": "thirdname"},
          ]
        }, {
          title: "Контактная информация",
          active: false,
          values: [
            { "Email": "email"},
            { "Номер телефона": "phone_number"},
          ]
        },
        {
          title: "Паспорт и Снилс",
          active: false,
          values: [
            { "Паспорт": "passport"},
            { "Снилс": "snils" }
          ]
        }, 
        {
          title: "Адрес",
          active: false,
          values: [
            { "Адрес": "adress"}
          ]
        }
      ]
    }
  },
  created() {
    this.getSettings();
    this.getPolyclinicInfo();
  },
  computed: {
    ...mapGetters(['TOKEN', 'API_URL'])
  },
  methods: {
    ...mapMutations(['EXIT_ADMIN']),
    openSettingDialog(block) {
      let keys = Object.keys(this.changeParams)
      for (let key in keys) {
        console.log(keys[key]);
        delete this.changeParams[keys[key]];
      }

      for (let row in block.values) {
        for (let asd in block.values[row]) {
          let val = block.values[row][asd];
          console.log(val);
          
          if (this.settings[val] !== undefined) {
            this.changeParams[val] = this.settings[val];
          } else {
            this.changeParams[val] = null;
          }
        }
      }
      block["active"] = true;
    },
    updateSettingProxy(block) {
      let config = {
        headers: {'Authorization': "Bearer " + this.TOKEN }
      };
      let data = {};
      for (let key in this.changeParams) {
        console.log(key);
        if (this.changeParams[key] != null) {
          data[key] = this.changeParams[key];
        }
      }
      console.log(data);
      axios.post(`${this.API_URL}/private/api.user.update`, data, config).then((res) => {
        if (res.status === 200 && res.data.status === 'ok') {
          console.log(res);
          this.getSettings();
          this.$toast.add({severity:'success', summary: 'Личная информация', detail: 'Успешно изменена' , life: 3000});
          block.active = false;
        }
        else if (res.status === 500) {
          console.log(res);
        }
      }).catch((err) => {
        if (err.response.status === 401) {
          this.EXIT_ADMIN(null);
          this.$router.push('/');
        }
        else {
          this.$toast.add({severity:'error', summary: 'Ошибка! Попробуйте позже', detail: 'Невозможно получить информацию' , life: 3000});
        }
      }).finally(() => {
        this.loading = false;
      })
    },
    getSettings() {
      this.loading = true;
      let config = {
        headers: {'Authorization': "Bearer " + this.TOKEN }
      }
      axios.post(`${this.API_URL}/private/api.user.get_info`, {}, config).then((res) => {
        if (res.status === 200 && res.data.status === 'ok') {
          this.settings = res.data.info;
        }
        else if (res.status === 500) {
        }
      }).catch((err) => {
        if (err.response.status === 401) {
          this.EXIT_ADMIN(null);
          this.$router.push('/');
        }
        else {
          this.$toast.add({severity:'error', summary: 'Ошибка! Попробуйте позже', detail: 'Невозможно получить информацию' , life: 3000});
        }
      }).finally(() => {
        this.loading = false;
      })
    },
    getPolyclinicInfo() {
      this.loading = true;
      let config = {
        headers: {'Authorization': "Bearer " + this.TOKEN }
      }
      axios.post(`${this.API_URL}/private/api.polyclinic.get_info`, {}, config).then((res) => {
        if (res.status === 200 && res.data.status === 'ok') {
          this.polyclinic_info = res.data.info.polyclinic;
          this.polyclinic_info.days = "";
          for (let d in this.polyclinic_info.working_days) {
            let asd = this.polyclinic_info.working_days[d];
            if      (asd == "1") this.polyclinic_info.days += "понедельник";
            else if (asd == "2") this.polyclinic_info.days += "вторник";
            else if (asd == "3") this.polyclinic_info.days += "среда";
            else if (asd == "4") this.polyclinic_info.days += "четверг";
            else if (asd == "5") this.polyclinic_info.days += "пятница";
            else if (asd == "6") this.polyclinic_info.days += "суббота";
            else if (asd == "7") this.polyclinic_info.days += "воскресенье";

            if (d != this.polyclinic_info.working_days.length-1) this.polyclinic_info.days += ", ";
          }
          console.log(this.polyclinic_info);
          this.polyclinic_info.type = this.polyclinic_info.is_adult ? "взрослая" : "детская";
        }
        else if (res.status === 500) {
        }
      }).catch((err) => {
        if (err.response !== undefined && err.response.status === 401) {
          this.EXIT_ADMIN(null);
          this.$router.push('/');
        }
        // else {
        //   this.$toast.add({severity:'error', summary: 'Ошибка! Попробуйте позже', detail: 'Невозможно получить информацию' , life: 3000});
        // }
      }).finally(() => {
        this.loading = false;
      })

    }
  }
}
</script>

<style scoped>
.p-dialog.p-component {
  width: 40% !important;
}

#settings {
  padding: 30px;
}
.clearfix {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item {
  display: block;
  height: initial;
  text-align: left;
}
.item span {
  width: 400px;
  word-wrap: break-word;
}
.item div {
  margin-bottom: 20px;
}
.item div:last-child {
  margin-bottom: 0;
}
.el-card__body {
  height: initial !important;
}
@media (max-width: 1338px) {
  .box-settings {
    flex-direction: column;
  }
}

.box-settings {
  display: flex;
  width: 90%;
  margin-left: 1.5%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.left {
  width: 45%;
}
.right {
  width: 45%;
}
.current-value {
  width: initial;
  text-align: left;
  word-wrap: break-word;
  margin-bottom: 30px;
}
.title__section {
  margin-bottom: 30px;
  margin-left: 1.5%;
  text-align: left;
}
</style>
