<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import {mapMutations} from "vuex";

export default {
  created() {
    if (localStorage.getItem('tokens') !== null) {
      this.RECORD_TOKEN(JSON.parse(localStorage.getItem('tokens')));
    }
  },
  methods: {
    ...mapMutations(['RECORD_TOKEN']),
  }
}
</script>

<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#app {
  height: 100vh;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
/* .el-menu-item:hover {
  background-color: #fc0000b6;
  color: white;
} */

.p-dialog .p-dialog-content {
  overflow-y: hidden !important;
  /* min-height: 300px !important; */
}
.p-datatable .p-datatable-header {
  text-align: right;
}
.p-dialog.p-component {
  width: 40% !important;
}
.box_change-inp {
  display: flex;
  text-align: left;
  flex-direction: column;
  margin-bottom: 20px;
}
section.withdraws {
  width: 100%;
}
</style>
